 .home {
  background-image: url('C:/Users/ryanj/Desktop/assignment1-RyanHeid/Advanced CSS DGL 203/dgl203-semester-project/dgl203-semester-project-robert-smith-photography-website/Images/RobertSmithBG@3x.png');
  background-repeat: no-repeat;
  width: 600px;
  height: 200px;
 }