  @import './variables';

  @function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
  }



 body {
  background-color: $primary-color;
  height: 100vh;
  /* background-image: url("/Images/RobertSmithBG@3x.png"); */

  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-family: 'Lato', sans-serif;
  
 } 

 body img {
  width: 100%;
  height: 100%;
 } 

 .bg-image {
  height: 100vh;
  background-size: 100% 100%;
  height: 100vh;
  overflow: hidden;
}

/* styles for galleries.html */


/* pets page styles */
.carousel-inner .pets .pet2 {
width: 200px;
display: block;
object-fit: cover;
}

/* styles for about.html */
 .about-section {
  background: #dfe6e0;
 } 

/* Styles for shop.html */

.shop ul {
list-style-type: none;
margin-left:37%;
padding:0;
}

.rating {
margin-left:37%;
}

.page {
background-color:#dfe6e0;
padding:2%;
margin: auto;
}

.fa { 
color:#f2dd1d;
}

.card-img-top {
width:90%;
height:225px;
}

.view {
background-color:#dfe6e0;
padding:10px;
margin:20px;
}

.card {
width:95%;
padding:0px;
margin-left: 2%;
}

.card-footer {
background-color: #ff772e;
font-weight: 700;
}

.price {
color:#ff4517;
font-weight: 600;

}

/* end of copy from original style.css */