  @import './config';
  @import './reviews';
  @import './contact';
  @import './shop';
  @import './galleries';
  @import './about';
  @import './people';
  @import './pets';
  @import './weddings';
  @import './home';

  @function weight($weight-name) {
    @return map-get($font-weights, $weight-name);
  }

  .navbar {
    font-weight: 700;
  }


 

/* styles for galleries.html */


/* pets page styles */
.carousel-inner .pets .pet2 {
width: 200px;
display: block;
object-fit: cover;
}

/* styles for about.html */
 .about-section {
  background: #dfe6e0;
 } 

/* Styles for shop.html */

.shop ul {
list-style-type: none;
margin-left:37%;
padding:0;
}

.rating {
margin-left:37%;
}

.page {
background-color:#dfe6e0;
padding:2%;
margin: auto;
}

.fa { 
color:#f2dd1d;
}



/* end of copy from original style.css */