.reviews-body, .contact-body, .shop-body, .galleries-body, .about-body, .people-body, .pets-body, .weddings-body, .bookings-body {
 background-color: #dfe6e0;
 font-family: "Lato", sans-serif;
}


/* card styles */

.card-img-top {
 width: 90%;
 height: 225px;
}

.view {
 background-color: #dfe6e0;
 padding: 10px;
 margin: 20px;
}

.card {
 width: 95%;
 padding: 0px;
 margin-left: 2%;
}

.card-footer {
 background-color: #ff772e;
 font-weight: 700;
}

.price {
 color: #ff4517;
 font-weight: 600;
}


/* shop form style */
.shop-body {
 font-family: Arial;
 font-size: 17px;
}

* {
 box-sizing: border-box;
}

.shop-body .row { /* IE10 */
 display: flex; /* IE10 */
 flex-wrap: wrap;
 margin: 0 -16px;
}

.shop-body .col-25 { /* IE10 */
 flex: 25%;
}

.shop-body .col-50 { /* IE10 */
 flex: 50%;
}

.shop-body .col-75 { /* IE10 */
 flex: 75%;
}

.shop-body .col-25,
.shop-body .col-50,
.shop-body .col-75 {
 padding: 0 16px;
}

.shop-container {
 background-color: #f2f2f2;
 padding: 5px 20px 15px 20px;
 border: 1px solid lightgrey;
 border-radius: 3px;
}

input[type=text] {
 width: 100%;
 margin-bottom: 20px;
 padding: 12px;
 border: 1px solid #ccc;
 border-radius: 3px;
}

label {
 margin-bottom: 10px;
 display: block;
}

.icon-container {
 margin-bottom: 20px;
 padding: 7px 0;
 font-size: 24px;
}

.btn {
 background-color: #04AA6D;
 color: white;
 padding: 12px;
 margin: 10px 0;
 border: none;
 width: 100%;
 border-radius: 3px;
 cursor: pointer;
 font-size: 17px;
}

.btn:hover {
 background-color: #45a049;
}

a {
 color: #2196F3;
}

hr {
 border: 1px solid lightgrey;
}

span.price {
 float: right;
 color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .shop-body .row {
   flex-direction: column-reverse;
 }
 .shop-body .col-25 {
   margin-bottom: 20px;
 }
}

/* Responsive layout - when the screen is less than 1000 px wide, make the checkout form paragraph
/* end of shop css */


.home {
 background-image: url("C:/Users/ryanj/Desktop/assignment1-RyanHeid/Advanced CSS DGL 203/dgl203-semester-project/dgl203-semester-project-robert-smith-photography-website/Images/RobertSmithBG@3x.png");
 background-size: 100% 100%;
 background-repeat: no-repeat;
 max-width: 100%;
 height: 100vh;
 overflow: hidden;
 font-family: "Lato", sans-serif;
}

.navbar {
 font-weight: 700;
}

/* styles for galleries.html */
/* pets page styles */
.carousel-inner .pets .pet2 {
 width: 200px;
 display: block;
 -o-object-fit: cover;
    object-fit: cover;
}

/* styles for about.html */
.about-section {
 background: #dfe6e0;
}

/* Styles for shop.html */
.shop ul {
 list-style-type: none;
 margin-left: 37%;
 padding: 0;
}

.rating {
 margin-left: 37%;
}

.page {
 background-color: #dfe6e0;
 padding: 2%;
 margin: auto;
}

.row .fa {
 color: #f2dd1d;
}

/* Footer Styles */
.footer {
  position: absolute;
  width: 100%;
}

/* Footer Social Media Icons */
.button {

  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-right: 30px;
  padding-left: 70px;
  position: relative;
  background-color:rgb(0,0,0);
  color:rgb(255,255,255);
  text-decoration: none;
  text-transform: none;
  letter-spacing: 1px;
  margin-bottom: 14px;
  text-shadow:1px 1px 0px rgba(0,0,0,0.5);
}

.button:hover{
  text-decoration: none;
  color: #fff;
  text-shadow: none;
}

.button p{font-size: 18px;}
.button span {
  position: absolute;
  left: 0;
  width: 50px;
  font-size:30px;
  -webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;
-moz-border-radius-topleft: 5px;
-moz-border-radius-bottomleft: 5px;
border-top-left-radius: 5px;
border-bottom-left-radius: 5px;
border-right: 1px solid  rgba(0,0,0,0.15);
    text-decoration: none;
}

.button.facebook {
  background: #3b5998;
 }
 
 .button.twitter {
  background: #00acee;
}

.button.linkedin {
  background: #0e76a8;
}

.button.instagram{
  background: #3f729b;
}